
body{
    background-color: black;
}

#localTime{
    font-size: 50px;
    color: white;
    font-weight: bold;
}

#clock {
        font-size: 40px;
        background-color: orange;
        padding: 20px 50px;
        margin-top: 10px;
        border-radius: 10px;
      }

#center {
        display: flex;
        height: 100vh;
        justify-content: center;
        align-items: center;
        flex-direction: column;
      }